.message-input-container {
  min-height: 42px;
  width: 100%;

  .text-area {
    width: 100%;
    line-height: 16px;
    padding: 10px;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    outline: none;
    resize: none;
    box-shadow: none;
    font-size: 16px;

  }
}


