.message-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px 20px;
  min-height: 40px;

  .img-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 40px;
    min-height: 40px;
    margin-right: 10px;
  }

  img {
    border-radius: 5px;
  }

  .main-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .time {
    font-size: 12px;
    color: #ababab;
  }
}
