.members-box-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  min-height: 80px;
  padding: 10px 20px;

  background: #ababab;

  .total-indicator {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    text-align: center;
    margin-right: 10px;

    background: #f08080;
    color: #fffaf0;
  }

  .member-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-right: 10px;
    img {
      border-radius: 5px;
    }
    + .member-wrapper {
    }
  }
}
